doctype html
html.no-js[lang="zxx" itemscope="" itemtype="http://schema.org/Article"]
  head
    base[href="/janet/" target="_blank"]
    meta[name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"]
    link[rel="shortcut icon" href="img/fav.png"]
    meta[name="author" content="Janet Jeffus"]
    meta[name="keywords" content="transgender, surgery, charity, gofundme, grs, srs"]
    meta[charset="UTF-8"]

    title Janet's Urgent GRS Surgery Fund

    link[rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png"]
    link[rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png"]
    link[rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png"]
    link[rel="manifest" href="img/site.webmanifest"]
    link[rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5"]
    meta[name="msapplication-TileColor" content="#da532c"]
    meta[name="theme-color" content="#ffffff"]

    meta[content="One simple surgery will allow me to live a happy, healthy life but I can't reach it on my own. Please help me find a way. Give and get a little something back! Help change a life." name="description"]
    /! Schema.org markup for Google+
    meta[content="Janet's Urgent GRS Surgery Fund" itemprop="name"]
    meta[content="One simple surgery will allow me to live a happy, healthy life but I can't reach it on my own. Please help me find a way. Give and get a little something back! Help change a life." itemprop="description"]
    meta[content="img/og-image.jpg" itemprop="image"]
    /! Twitter Card data
    meta[content="img/og-image.jpg" name="twitter:card"]
    meta[content="Janet's Urgent GRS Surgery Fund" name="twitter:title"]
    meta[content="One simple surgery will allow me to live a happy, healthy life but I can't reach it on my own. Please help me find a way. Give and get a little something back! Help change a life." name="twitter:description"]
    meta[content="@janetjeffus" name="twitter:creator"]
    /! Twitter summary card with large image must be at least 280x150px
    meta[content="img/og-image.jpg" name="twitter:image:src"]
    /! Open Graph data
    meta[property="og:image" content="img/og-image.jpg"]
    meta[property="og:image:width" content="1200"]
    meta[property="og:image:height" content="628"]
    meta[property="og:title" content="Janet's Urgent GRS Surgery Fund"]
    meta[property="og:description" content="One simple surgery will allow me to live a happy, healthy life but I can't reach it on my own. Please help me find a way. Give and get a little something back! Help change a life."]
    meta[property="og:url" content="https://surgeryfor.life"]

    meta[content="article" property="og:type"]
    meta[content="Surgery For.life" property="og:site_name"]
    meta[content="2019-02-11T20:00:28-06:00" property="article:published_time"]
    meta[content="2019-02-11T20:00:28-06:00" property="article:modified_time"]
    meta[content="121204411" property="fb:admins"]

    // link[href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"]
    link[rel="stylesheet" href="css/linearicons.css"]
    link[rel="stylesheet" href="css/font-awesome.min.css"]
    link[rel="stylesheet" href="css/bootstrap.css"]
    link[rel="stylesheet" href="css/magnific-popup.css"]
    // link[rel="stylesheet" href="css/jquery-ui.css"]
    link[rel="stylesheet" href="css/nice-select.css"]
    link[rel="stylesheet" href="css/animate.min.css"]
    link[rel="stylesheet" href="css/main.css"]
    link[rel="stylesheet" href="css/style.css"]
    link[type="text/css" rel="stylesheet" href="node_modules/lightgallery.js/dist/css/lightgallery.min.css"]
    link[type="text/css" rel="stylesheet" href="node_modules/lightgallery.js/dist/css/lg-fb-comment-box.min.css"]
    link[type="text/css" rel="stylesheet" href="node_modules/lightgallery.js/dist/css/lg-transitions.min.css"]
  body
    section.home-about-area
      .container
        .row.align-items-center.justify-content-between
          .col-lg-6.col-md-6.home-about-left
            img.img-fluid.img-thumbnail.rounded-circle[src="img/janet_j3.jpg" alt="Me and my little niece" title="Me and my little niece"]
          .col-lg-5.col-md-6.home-about-right
            h1.text-uppercase
              | Janet's Urgent GRS Surgery Fund
            p
              | I’m going to say something that I rarely do: I need help.
              b
                | &nbsp;I need your help to cover the cost of life-altering surgery
              | . I have been suﬀering, and for the longest time, I couldn’t communicate that to the people closest to me. This pain kept me from experiencing things in my youth, it caused tremendous strain on my family, and
              b
                | &nbsp;it nearly cost me my life
              | . Some days are better than others, but now, more than ever, I need help. I need treatment. One simple surgery will allow me to live a happy, healthy life. I’ve already been living as a woman for 7+ years, I have gone into medical debt to help cover the costs of specialists, medical testing and therapy, and have jumped through every hoop the government forces me to jump through. But I can’t aﬀord this life-saving medical procedure and insurance will not cover any cost.
              br
              br
              | <b>I want to give you something back!</b> (details below.)
            h2
              | Goal:
              span[style="color: green"]
                | &nbsp;$9700
            a.btn.btn-primary.text-uppercase[href="#"]
              | Make a Donation
          .col-lg-12.pt-60.the-story
            .title.text-center
              h1.mb-10
                | The Story
            p
              blockquote
                | ... to go to the gym not fear being chased down by a security guard ...
            p
              | I am asking for your help in raising $9,700 to cover the cost of surgery
              | &nbsp; that will allow me to be happy in my own skin; to get off carcinogenic androgen blockers, to not fear walking into a bathroom and being chased down by a security guard; to not be stopped and frisked at every airport; to simply just exist.
            p
              | Currently, I work full-time and do charity and volunteer work. I live paycheck to paycheck juggling medical bills and will end up taking out a loan to cover any costs not raised here for the surgery. My doctors, both medical specialists, and therapist agree that
              b
                | &nbsp;this surgical treatment is life-altering and will lead to a better quality of life.
            p
              | My goal is to raise $1,000 as soon as possible
              | &nbsp;to schedule the pre-payment needed to reserve a surgical date with Dr. Kaushik. The sooner the better. The remainder will cover the cost of surgery that need to be paid up-front before the date (
              b
                | April 2019 or June 2019
              | ). With this current national and international political climate, I greatly fear these treatments will not be available in the near future and am determined, more than ever, to get this done. I cannot wait anymore.
            p
              | First and foremost, I wouldn’t be alive if it weren’t for the support of friends and family.
              b
                | &nbsp;I also would not be able to have gotten this far in this process without the support of my community and I am so grateful and appreciative that you are considering sharing this page or donating to it.
              b
                | &nbsp;Any donation is helpful, great or small. To help me get the word out please consider sharing this page to your Facebook Timeline!
            p
              b
                | &nbsp;I can’t do this without your help! If you consider yourself an ally, please consider this as an opportunity to give back to a community that is often under-served!
            p
              | For a donation of <b>$10</b> or more I will write you and mail a personal letter of thanks.
              br
              | For <b>$25</b> or more I'll do it on a hand painted card.
              br
              |  For <b>$150</b> I'll do the above AND and a hand crocheted scarf or hat.
              br
              |  or <b>$750</b> I'll paint a portrait of you or your favorite subject in acrylic and send it
              br
              |  &nbsp;to you.
            p
              | Please give anything you can! Even a $1 donation helps, sharing this on social media can help even more! Prayers are appreciated too. Thank you for your support!
            p
              | What your donation
              b
                | &nbsp;WILL
              | &nbsp;go towards:
              ul
                li
                  |  - The actual cost of the procedure
                li
                  |  - Expenses for travelling directly related to the procedure (such as plane tickets/ acquisition of a passport)
                li
                  |  - Expenses for after care
            p
              |  What your donation
              b
                | &nbsp;WILL NOT
              | &nbsp;go towards:
              ul
                li
                  |  - Any personal expenses of mine that are not directly related to this procedure
              br
    .whole-wrap
      .container
        .section-top-border
          .title.text-center
            h1.mb-10
              | Cost Breakdown
          .row
            .col-md-3
              a[href="img/olmec_2.jpg"]
                img[src="img/olmec_2.jpg" alt="Sue Pascoe getting surgery at Olmec" width="240"]
            .col-md-9.mt-sm-20.left-align-p
              p
                | The Olmec Surgery Center is world renowned for its ground breaking and life saving surgical procedures. Pictured is the famous
                a[href="https://www.lgbtconservatives.org.uk/news/idahotb-my-story-sue-pascoe"]
                  | &nbsp;LGBT conservative Sue Pascoe&nbsp;
                | getting her surgery at Olmec. Here is a breakdown of how the $9700 will be used.
              ul.unordered-list
                li
                  span[style="color: #007bff; font-size: 14pt"]
                    | $7300
                  | &nbsp; &nbsp; Surgery all costs combined.
                li
                  span[style="color: #007bff; font-size: 14pt"]
                    | $1500
                  | &nbsp; &nbsp; Stay - $50 per day (required stay is 30 days): 50 x 30
                li
                  span[style="color: #007bff; font-size: 14pt"]
                    | $300
                  | &nbsp; &nbsp; &nbsp; Medicines after surgery.
                li
                  span[style="color: #007bff; font-size: 14pt"]
                    | $300
                  | &nbsp; &nbsp; &nbsp; Food charges for 30 day period.
                li
                  span[style="color: #007bff; font-size: 14pt"]
                    | $300
                  | &nbsp; &nbsp; &nbsp; Medical tests after surgery.
                p
                  br
                  span[style="color: #007bff; font-size: 20pt"]
                    | Total: &nbsp; &nbsp;
                  span[style="color: green; font-size: 20pt"]
                    | $9700

    section.price-area
      .container
        .row.d-flex.justify-content-center
          .menu-content.pb-70.col-lg-8
            .title.text-center
              h1.mb-10
                | My Gratitude
              p
                | To show you my thanks I'll give a little something back.
        .row
          .col-lg-3.col-md-6.single-price
            .top-part
              img.rounded-circle[src="img/letter.jpg" alt="letter"]
              h4
                | Thank You Card
              p.mt-10
                | A thank you in the mail.
            .bottom-part
              h1
                | $5+
              a.price-btn.text-uppercase[href="#"]
                | Donate
          .col-lg-3.col-md-6.single-price
            .top-part
              img.rounded-circle[src="img/painted_card.jpg" alt="letter"]
              h4
                | Hand-painted Card
              p.mt-10
                | A hand-painted thank you.
            .bottom-part
              h1
                | $35+
              a.price-btn.text-uppercase[href="#"]
                | Donate
          .col-lg-3.col-md-6.single-price
            .top-part
              img.rounded-circle[src="img/scarf.jpg" alt="letter"]
              h4
                | Crocheted Scarf or Hat
              p.mt-10
                | A hand-made scarf or hat.
            .bottom-part
              h1
                | $150+
              a.price-btn.text-uppercase[href="#"]
                | Donate
          .col-lg-3.col-md-6.single-price
            .top-part
              img.rounded-circle[src="img/painting.jpg" alt="letter"]
              h4
                | Acrylic Portrait or Painting
              p.mt-10
                | Of you or any subject you want.
            .bottom-part
              h1
                | $750+
              a.price-btn.text-uppercase[href="#"]
                | Donate
    / section.recent-blog-area.section-gap
    /   .row
    /     .col-md-9
    /       a.img-gal[href="photos/choir_-_glee_season6_episode7.jpg" data-sub-html="<h4>Glee Season 6 Episode 7</h4><p>God blessed me by letting me be a part of the Glee transgender choir for this special trans episode of the show. This was, at the time, the largest transgender choir ever assembled.</p>"]
    /         .single-gallery-image[style="background: url(photos/choir_-_glee_season6_episode7.jpg);"]
    /     .col-md-3
    /       a.img-gal[href="photos/choir_-_south_coast_chorale.jpg"]
    /         .single-gallery-image[style="background: url(photos/choir_-_south_coast_chorale.jpg);"]
    /     .col-md-4
    /       a.img-gal[href="photos/win_hack_for_los_angeles.jpg"]
    /         .single-gallery-image[style="background: url(photos/win_hack_for_los_angeles.jpg);"]
    /     .col-md-4
    /       a.img-gal[href="photos/with_mayor_eric_garcetti_exbully_hack_for_la.jpg"]
    /         .single-gallery-image[style="background: url(photos/with_mayor_eric_garcetti_exbully_hack_for_la.jpg);"]
    /     .col-md-4
    /       a.img-gal[href="photos/choir_-_christ_chapel_of_long_beach.jpg"]
    /         .single-gallery-image[style="background: url(photos/choir_-_christ_chapel_of_long_beach.jpg);"]
    /     .col-md-4
    /       a.img-gal[href="photos/family1.jpg"]
    /         .single-gallery-image[style="background: url(photos/family1.jpg);"]
    /     .col-md-2
    /       a.img-gal[href="photos/family2.jpg"]
    /         .single-gallery-image[style="background: url(photos/family2.jpg);"]
    /     .col-md-2
    /       a.img-gal[href="photos/family3.jpg"]
    /         .single-gallery-image[style="background: url(photos/family3.jpg);"]
    /     .col-md-2
    /       a.img-gal[href="photos/family6.jpg"]
    /         .single-gallery-image[style="background: url(photos/family6.jpg);"]
    /     .col-md-2
    /       a.img-gal[href="photos/gender_and_name_change.jpg"]
    /         .single-gallery-image[style="background: url(photos/gender_and_name_change.jpg);"]
    /     #thumbs
    section.recent-blog-area.section-gap
      .container
        .row
          .single-recent-blog.col-lg-8.col-md-8
            a.twitter-timeline data-partner="tweetdeck" href="https://twitter.com/janetjeffus/timelines/1090458647753379840?ref_src=twsrc%5Etfw"  Surgery For Life - Curated tweets by janetjeffus
            script async="" charset="utf-8" src="https://platform.twitter.com/widgets.js"
      footer.footer-area.section-gap
        .container
          .row
            .col-lg-5.col-md-6.col-sm-6
              .single-footer-widget
                h4
                  | Surgery Newsletter
                p[style="color:#ddd;"]
                  | Stay updated with updates on funding and the surgery!
                #mc_embed_signup
                  form#mc-embedded-subscribe-form.validate[action="https://gaykc.us17.list-manage.com/subscribe/post?u=ed1ef79a229e682b729f7da18&amp;id=1ab0346845" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate]
                    .input-group
                      .mc-field-group
                        input#mce-FNAME[type="text" value="" name="FNAME" placeholder="First Name"]
                      .mc-field-group
                        input#mce-LNAME[type="text" value="" name="LNAME" placeholder="Last Name"]
                    .input-group
                      input.form-control[type="email" name="EMAIL" placeholder="Enter Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address '" required=""]
                      div[style="position: absolute; left: -5000px;" aria-hidden="true"]
                        input[type="text" name="b_ed1ef79a229e682b729f7da18_1ab0346845" tabindex="-1" value=""]
                      .input-group-btn
                        button.btn.btn-default[type="submit"]
                          span.lnr.lnr-arrow-right
                      .info
                      link[href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css"]

            .col-lg-2.col-md-6.col-sm-6.social-widget
              .single-footer-widget
                h4
                  | Follow Me
                p
                  | Let us be social
                .footer-social.d-flex.align-items-center
                  a[href="https://www.facebook.com/feelnixus"]
                    i.fa.fa-facebook
                  a[href="https://twitter.com/janetjeffus"]
                    i.fa.fa-twitter
            .col-lg-5.col-md-6.col-sm-6
              .single-footer-widget
                p.footer-text
                  | This template is made with &nbsp;
                  i.fa.fa-heart-o[aria-hidden="true"]
                  |  by
                  a[href="https://colorlib.com" target="_blank"]
                    | &nbsp;Colorlib
  script[src="js/popper.min.js"]
  script[src="js/vendor/jquery-2.2.4.min.js"]
  script[src="js/vendor/bootstrap.min.js"]
  script[src="node_modules/lightgallery/dist/js/lightgallery.min.js"]
  script[src="node_modules/lg-thumbnail/dist/lg-thumbnail.min.js"]
  script[src="node_modules/lg-zoom/dist/lg-zoom.min.js"]
  script[src="node_modules/lg-share/dist/lg-share.min.js"]
  script[src="node_modules/lg-fullscreen/dist/lg-fullscreen.min.js"]
  script[src="node_modules/lg-pager/dist/lg-pager.min.js"]
  javascript:
    function slide(slide){
      $('#thumbs').show();
      console.log($('#thumbs a:nth-child('+slide+')'));
      $('#thumbs a:nth-child('+slide+')').click();
      // $("#thumbs").data('lightGallery').slide(slide);
    }
    $(document).ready(function(){
      var thumbsHtml = '';
      // Generate the lightGallery from the default bootstrap one
      $.each($('.img-gal'), function(i,e){
        console.log(i,e);
        img = $(e).attr('href');
        caption = $(e).attr('data-sub-html');
        $(e).attr('href', '#'+(i+1));
        thumbsHtml += '<a href="'+img+'"  data-sub-html="'+caption+'"><img src="'+img+'"></a>'+"\n";
      });
      $('#thumbs').html(thumbsHtml);
      $lg = $("#thumbs");
      $lg.lightGallery({
        thumbnail: true
      });
      $lg.on('onBeforeOpen.lg',function(event){
        console.log('onBeforeOpen');
        // $('#thumbs').show();
      });
      $lg.on('onBeforeClose.lg',function(event){
        console.log('onBeforeClose');
        $('#thumbs').hide();
      });
      $('#thumbs').hide();

      $('a.img-gal').click(function(e,v){
        slide($(e.currentTarget).attr('href').substr(1));
      });
    })
