blockquote {
  width: 200px;
  border: 2px solid black;
  float: left;
  padding: 20px;
  margin: 20px;
  font-weight: bold;
  font-size: 13pt;
}
.home-about-area,
.the-story {
  margin-top: 20px;
}
b {
  color: black;
  font-size: 12pt;
  font-weight: bold;
}
p {
  font-size: 12pt;
  color: black;
}
